/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

/* .terms {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media (min-width: 320px) and (max-width: 480px) {
    .terms {
        width: 100%;
    }
} */

